{% extends 'app/base.html'%}
{% load static %}
{% block main-content %}

<body>  
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="row justify-content-center">
            <div class="col-md-10 col-lg-6order-2 order-lg-1">
                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-5">Term of Service</p>
                <div class="row ">
                    <div class="scrollspy-example-2" tabindex="0">
                        <div id="item-1">
                            <h4>Our Services</h4>
                            <p>The information provided when using O.J.F.A is not intended for distribution 
                                to or use by any person or entity in any jurisdiction or country where such distribution or use
                                would be contrary to law or regulation or which would subject us to any registration
                                requirement within such jurisdiction or country. 
                                Accordingly, those persons who choose to access the Services from other locations do so on their
                                own initiative and are sorely responsible
                                for compliance with local laws, if and to the extent local laws are applicable.
                            </p>
                        </div>
                        <div id="item-2">
                            <h4>User Representations</h4>
                            <p>By using the Services, you represent and warrant that: 
                                (1) all registration information you submit will be true, accurate, current, and complete; 
                                (2) you will maintain the accuracy of such information and promptly update such registration Information as necessary; 
                                (3) you have the legal capacity and you agree to comply with these Legal Terms; 
                                (4) you are not minor in the jurisdiction in which you reside; 
                                (5) you will not access the Services through automated or non-human means, whether through a bot, script or otherwise;
                                (6) you will not use the Services for any illegal or unauthorized purpose; and 
                                (7) your use of the Services will not violate any applicable law or regulation.

                                If you provide any information that is untrue, inaccurate, not current, 
                                or incomplete, we have the right to suspend or terminate your account and refuse any and all current or future use of the Services (or any portion thereof).
                            </p>
                        </div>
                        <div id="item-3">
                            <h4>Contribution License</h4>
                            <p>
                                By posting your Contributions to any part of the Services, you automatically grant, and you represent and warrant that you have the right to grant, to us an unrestricted, unlimited, irrevocable, perpetual, non-exclusive, transferable, royalty-free, fully- paid, worldwide right, and license to host, use, copy, reproduce, disclose, sell, resell, publish, broadcast, retitle, archive, store, cache, publicly perform, publicly display, reformat, translate, transmit, excerpt (in whole or in part), and distribute such Contributions (including, without limitation, your image and voice) for any purpose, commercial, advertising, or otherwise, and to prepare derivative works of, or incorporate into other works, such Contributions, and grant and authorize sublicenses of the foregoing. The use and distribution may occur in any media formats and through any media channels.
                            </p>
                            <p>
                                This license will apply to any form, media, or technology now known or hereafter developed, and includes our use of your name, company name, and franchise name, as applicable, and any of the trademarks, service marks, trade names, logos, and personal and commercial images you provide. You waive all moral rights in your Contributions, and you warrant that moral rights have not otherwise been asserted in your Contributions,
                            </p>
                            <p>
                                We do not assert any ownership over your Contributions. You retain full ownership of all of your Contributions and any intellectual property rights or other proprietary rights associated with your Contributions. We are not liable for any statements or representations in your Contributions provided by you in any area on the Services. You are solely responsible for your Contributions to the Services and you expressly agree to exonerate us from any and all responsibility and to refrain from any legal action against us regarding your Contributions.
                            </p>
                            <p>
                                We have the right, in our sole and absolute discretion, (1) to edit, redact, or otherwise change any Contributions; (2) to re- categorize any Contributions to place them in more appropriate locations on the Services; and (3) to pre-screen or delete any Contributions at any time and for any reason, without notice. We have no obligation to monitor your Contributions.
                            </p>
                        </div>
                        <div id="item-3" class ="list-unstyled">
                            <h4>Prohibited Activities</h4>
                            <p>
                                As a user of the Services, you agree not to:
                            </p>
                            <ul>
                                <li>
                                    Systematically retrieve data or other content from the Services to create or compile, directly or indirectly, a collection, compilation, database, or directory without written permission from us.
                                </li>
                                <li>
                                    Use any information obtained from the Services in order to harass, abuse or harm another person.
                                </li>
                                <li>
                                    Use the Services in a manner consistent with any applicable laws or regulations.
                                </li>
                                <li>
                                    Upload or transmit (or attempt to upload to transmit) any material that acts as a passive or active information collection or transmission mechanism, including without limitation, clear graphics interchange format ("gifs"), web bugs, cookies, or other similar devices.
                                </li>
                                <li>
                                    Interfere with, disrupt, or create an undue burden on the Services or the networks or services connected to the Services.
                                </li>
                                <li>
                                    Use inapproriate images or words
                                </li>
                                <li>
                                    Use the Services to advertise or offer to sell goods or services.
                                </li>
                                <li>
                                    Sell or otherwise transfer your profile.
                                </li>
                            </ul>
                        </div>
                      
                    </div>
                </div>                  
                </div>
            </div>
        </div>
    </div>
</body>

{%endblock main-content%}