{% extends 'app/base.html'%}
{% load static %}
{% block main-content %}

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <section style="background-color: #eee;">
            <div class="container h-100">
              <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-lg-12 col-xl-11">
                  <div class="card text-black" style="border-radius: 25px;">
                    <div class="card-body p-md-5">
                      <div class="row justify-content-center">
                        <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
          
                          <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Job Finder Sign up</p>
                          
                          <div class="text-center fw-bold">
                            {% if messages %}
                              {% for message in messages %}
                                <div class="alert alert-danger" role="alert">
                                  {{ message }}
                                </div>
                              {% endfor %}
                            {% endif %}
                          </div>

                          <form class="mx-1 mx-md-4" action="" method="POST">
                            {% csrf_token %}
          
                            <div class="d-flex flex-row align-items-center mb-4">
                              <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                              <div class="form-outline flex-fill mb-0">
                                <label class="form-label" for="form3Example1c">Full Name</label>
                                <input type="text" id="form3Example1c" class="form-control" name="fname" />
                              </div>
                            </div>

                            <div class="d-flex flex-row align-items-center mb-4">
                                <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                <div class="form-outline flex-fill mb-0">
                                    <label for="inputGender" class="form-label">Gender</label>
                                    <select id="inputGender" class="form-select" name="gender">
                                    <option selected>Choose your Gender</option>
                                    <option>Male</option>
                                    <option>Female</option>
                                    </select>
                                </div>
                            </div>
                          
          
                            <div class="d-flex flex-row align-items-center mb-4">
                              <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                              <div class="form-outline flex-fill mb-0">
                                <label class="form-label" for="form3Example3c">Username</label>
                                <input type="Username" id="form3Example3c" class="form-control" name="uname"/>                               
                              </div>
                            </div>
          
                            <div class="d-flex flex-row align-items-center mb-4">
                              <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                              <div class="form-outline flex-fill mb-0">
                                <label class="form-label" for="form3Example4c">Password</label>
                                <input type="password" id="form3Example4c" class="form-control" name="pass"/>                              
                              </div>
                            </div>
          
                            <div class="d-flex flex-row align-items-center mb-4">
                              <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                              <div class="form-outline flex-fill mb-0">
                                <label class="form-label" for="form3Example4cd">Repeat your password</label>
                                <input type="password" id="form3Example4cd" class="form-control" name="rpass"/>
                              </div>
                            </div>
                            
                            <div class="d-flex flex-row align-items-center mb-4">
                              <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                              <div class="form-outline flex-fill mb-0">
                              <label for="inputDate" class="form-label">Date of birth</label>
                              <input class="form-control" type="date"  id="inputDate" value="1999-01-25" name="inputDate">
                              </div>
                            </div>

                            <div class="d-flex flex-row align-items-center mb-4">
                                <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                              <div class="form-outline flex-fill mb-0">
                                <label for="inputAddress" class="form-label">Address</label>
                                <input class="form-control" type="text"  id="inputAddress" placeholder="1234 Main St" name="addr">
                              </div>
                            </div>

                            <div class="d-flex flex-row align-items-center mb-4">
                              <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                              <div class="form-outline flex-fill mb-0">
                                  <label for="inputCity" class="form-label">City</label>
                                  <select id="inputGender" class="form-select" name="city">
                                  <option selected>Choose your City</option>
                                  <option>An Giang</option>
                                  <option>Ba Ria-Vung Tau</option>
                                  <option>Bac Lieu</option>
                                  <option>Bac Kan</option>
                                  <option>Bac Giang</option>
                                  <option>Bac Ninh</option>
                                  <option>Ben Tre</option>
                                  <option>Binh Duong</option>
                                  <option>Binh Dinh</option>
                                  <option>Binh Phuoc</option>
                                  <option>Binh Thuan</option>
                                  <option>Ca Mau</option>
                                  <option>Cao Bang</option>
                                  <option>Can Tho</option>
                                  <option>Da Nang</option>
                                  <option>Dak Lak</option>
                                  <option>Dak Nong</option>
                                  <option>Dien Bien</option>
                                  <option>Dong Nai</option>
                                  <option>Dong Thap</option>
                                  <option>Gia Lai</option>
                                  <option>Ha Giang</option>
                                  <option>Ha Nam</option>
                                  <option>Ha Noi</option>
                                  <option>Ha Tinh</option>
                                  <option>Hai Duong</option>
                                  <option>Hai Phong</option>
                                  <option>Hoa Binh</option>
                                  <option>Ho Chi Minh City</option>
                                  <option>Hau Giang</option>
                                  <option>Hung Yen</option>
                                  <option>Khanh Hoa</option>
                                  <option>Kien Giang</option>
                                  <option>Kon Tum</option>
                                  <option>Lai Chau</option>
                                  <option>Lao Cai</option>
                                  <option>Lang Sơn</option>
                                  <option>Lam Dong</option>
                                  <option>Long An</option>
                                  <option>Nam Dinh</option>
                                  <option>Nghe An</option>
                                  <option>Ninh Binh</option>
                                  <option>Ninh Thuan</option>
                                  <option>Phu Tho</option>
                                  <option>Phu Yen</option>
                                  <option>Quang Binh</option>
                                  <option>Quang Nam</option>
                                  <option>Quang Ngai</option>
                                  <option>Quang Ninh</option>
                                  <option>Quang Tri</option>
                                  <option>Soc Trang</option>
                                  <option>Son La</option>
                                  <option>Tay Ninh</option>
                                  <option>Thai Binh</option>
                                  <option>Thai Nguyen</option>
                                  <option>Thanh Hoa</option>
                                  <option>Thua Thien-Hue</option>
                                  <option>Tien Giang</option>
                                  <option>Tra Vinh</option>
                                  <option>Tuyen Quang</option>
                                  <option>Vinh Long</option>
                                  <option>Vinh Phuc</option>
                                  <option>Yen Bai</option>
                                  </select>
                              </div>
                            </div>

                            <div class="d-flex flex-row align-items-center mb-4">
                                <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                                <div class="form-outline flex-fill mb-0">
                                <label for="floatingTextarea2">Introduction</label>
                                <textarea class="form-control" placeholder="Briefly introduce yourself" id="floatingTextarea2" style="height: 100px" name="intro" ></textarea>                               
                                </div>
                            </div>

                            <div class="form-check d-flex justify-content-center mb-5">
                              <input class="form-check-input" style="border-width: 3px; border-color: black; margin-right: 5px;" type="checkbox" value="True" id="form2Example3c" name="checkbox">
                              <label class="form-check-label" for="form2Example3c">
                                  <span class="checkbox-custom"></span>
                                  I agree to all statements in 
                                  <a href="{% url 'term_of_service' %}" target= "_blank">
                                    Terms of Service
                                  </a>
                              </label>
                          </div>
          
                            <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                              <button type="submit" class="btn btn-primary btn-lg">Register</button>
                            </div>
          
                          </form>
          
                        </div>
                        <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
          
                          <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                            class="img-fluid" alt="Sample image">
          
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        <script src="" async defer></script>
    </body>
</html>

{% endblock main-content %}